	<!-- History Start -->
    <div class="rs-history">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 rs-vertical-bottom mobile-mb-50">
                    <a href="#">
                        <img src="/assets/images/biast.jpg" style="height:500px; width:auto"  alt="History Image"/>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2><%= translate('about').histoire %></h2>
                    </div>
                    <div class="about-desc">
                        <p><%= translate('about').hiscont.p1 %></p>

                        <p>
                            <%= translate('about').hiscont.p2 %>
                        </p>

                        <p>
                            <%= translate('about').hiscont.p3 %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- History End -->

    <!-- Mission Start -->
    <div class="rs-mission  sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <div class="abt-title">
                        <h2><%= translate('about').mission %></h2>
                    </div>
                    <div class="about-desc">
                        <p><%= translate('about').miscont.p1 %></p>

                        <p><%= translate('about').miscont.p2 %>
                         </p>
                         <p><%= translate('about').miscont.p3 %></p>
                         <ul>
                            <li><%= translate('about').miscont.p4 %></li>
                            <li><%= translate('about').miscont.p5 %></li>
                         </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="row">
                        <video width="530"  height="270" src="/assets/video/video.mp4" type="video/mp4" controls>
                           
                        </video><br>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mission End -->

    <!-- Vision Start -->
    <div class="rs-vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <!-- <div class="vision-img rs-animation-hover"> -->
                        <video width="530"  height="240" src="/assets/video/video.mp4" type="video/mp4" controls>
                           
                          </video>
                        <!-- <div class="overly-border"></div> -->
                    <!-- </div> -->
                    <p>A propos de nous</p>
                    <p>Institut d'Excellence et d'Innovation avec:</p>
                    <ul type="square">
                        <li>une équipe d'enseignants qualifiés et expérimentés</li>
                        <li>une administration de proximité</li>
                        <li>Des agents d'appuis au service des étudiants</li>
                        <li>Des relations cordiales entre étudiants</li>
                        <li>Frais de scolarité accessibles pour tous et modulables</li>
                        <li>Deux Campus tous propriétés de BIAST</li>
                    </ul>

                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2><%= translate('about').vision %></h2>
                    </div>
                    <div class="vision-desc">
                        

                        <p><%= translate('about').viscont.p1 %></p>
                        <p><%= translate('about').viscont.p2 %></p>
                        <p><%= translate('about').viscont.p3 %></p>
                        <p><%= translate('about').viscont.p4 %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision End -->

    <div id="rs-team" class="rs-team sec-spacer">
        <div class="container">
            <div class="abt-title mb-70 text-center">
                <h2>NOTRE PERSONNEL EXPÉRIMENTÉ</h2>      
                <p>Les experts de BIAST sont là pour tous vos préoccupations et vous encourage dans vos diffèrent choix de filières

            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout1.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/diane.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Donfack Diane</h3>
                            <span class="subtitle">Assistant Secrétaire</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Donfack Diane</a></h3>
                                <span class="team-title">Assistant Secrétaire</span>
                                <p class="team-desc">Établir les plannings des réunions, fixe des rendez-vous.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Branches End -->
    
    <!-- Partner Start -->
    <div id="rs-partner" class="rs-partner pt-30 pb-70">
        
        <div class="container">
            <div class="abt-title mb-70 text-center">
                <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
                <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>