	<!-- History Start -->
    <div class="rs-history">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 rs-vertical-bottom mobile-mb-50">
                    <a href="#">
                        <img src="/assets/images/biast.jpg" style="height:500px; width:auto"  alt="History Image"/>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2><%= translate('about').histoire %></h2>
                    </div>
                    <div class="about-desc">
                        <p><%= translate('about').hiscont.p1 %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- History End -->

    <!-- Mission Start -->
    <div class="rs-mission  sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <div class="abt-title">
                        <h2><%= translate('about').mission %></h2>
                    </div>
                    <div class="about-desc">
                        <p><%= translate('about').miscont.p1 %></p>
                   
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <!-- Mission End -->

    <!-- Vision Start -->
    <div class="rs-vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mobile-mb-50">
                    <!-- <div class="vision-img rs-animation-hover"> -->
                       
                        <!-- <div class="overly-border"></div> -->
                    <!-- </div> -->
      

                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="abt-title">
                        <h2><%= translate('about').vision %></h2>
                    </div>
                    <div class="vision-desc">
                        

                        <p><%= translate('about').viscont.p1 %></p>
                        <p><%= translate('about').viscont.p2 %></p>
                        <p><%= translate('about').viscont.p3 %></p>
                        <p><%= translate('about').viscont.p4 %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision End -->

    <div id="rs-team" class="rs-team sec-spacer">
        <div class="container">
            <div class="abt-title mb-70 text-center">
                <h2>NOTRE PERSONNEL EXPÉRIMENTÉ</h2>      
                <p>Les experts de BIAST sont là pour tous vos préoccupations et vous encourage dans vos diffèrent choix de filières

            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout1.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/diane.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Donfack Diane</h3>
                            <span class="subtitle">Assistant Secrétaire</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Donfack Diane</a></h3>
                                <span class="team-title">Assistant Secrétaire</span>
                                <p class="team-desc">Établir les plannings des réunions, fixe des rendez-vous.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Branches End -->
    
 