<div class="modal fade" id="myModal" tabindex="-50000" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><h4 style="color:green"><%- surname %> <%- name %></h4> </h5>
    <a href="/connexion"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
    </div>
    <div class="modal-body" style="text-align: center;">
      <img src="/assets/images/good.jpg" alt="good"/>
      <p><%= translate('after').inscrit %></p>
    <p><%= translate('after').confiance %></p>
     <span >Login : <h4 style="color:green"><%- credential.Login %></h4> </span>
     <span ><%= translate('after').password %> :<h4 style="color:green"> <%- credential.Password %></h4> </span>
     <p><span><%= translate('after').oriente %> </span></p>

    

    </div>
    <div class="modal-footer">
    <a href="/connexion"><button type="button" data-bs-dismiss="modal" class="btn btn-primary">OK</button></a>
    </div>
  </div>
  </div>
</div>