
<div class="container_con">
    <div class="card_con">
        <form class="form" method="post" onsubmit="toastify()" action="/connexion">
            
            <div class="left-side">
                <div class="left-heading h3_i">
                    <%= translate('connexion').leftside %>
                </div>
            </div>
            <div class="right-side">
                <div class="main active">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2><%= translate('connexion').rightside.title %></h2>
                        <p><%= translate('connexion').rightside.subtitle %></p>
                        <% if(message) {%><div class="alert alert-danger"><%- message %></div><% } %>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" name="login" required require id="user_name">
                            <span><%= translate('connexion').rightside.login %></span>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="password" name="password" required require>
                            <span><%= translate('connexion').rightside.password %></span>
                        </div>
                    </div>
                   
                    <div class="buttons">
                        <button type="submit"  class="submit_button">Submit</button>
                    </div>
                </div>
                
                
            
                  

            </div>
        </form>
    </div>
</div>

