
        <div id="rs-courses-3" class="rs-courses-3">
			<div class="container">
				<div class="abt-title">
				    <h2><%= translate('courses').title %></h2>
				</div>
             
				<div class="row space-bt30">
				  <% if(filiere){for(let i = 0; i<filiere.length; i++) { %>
					<div class="col-lg-4 col-md-6 grid-item filter1">
		                <div class="course-item">
		                    <div class="course-img">
		                        <img src="/assets/images/courses/<%= filiere[i].dataValues.image_desc %>" alt="<%= filiere[i].dataValues.nom_filiere %>" />
		                       
		                        <div class="course-toolbar">
		                        	<div class="course-date">
		                        		<i class="fa fa-book"></i> <%= filiere[i].dataValues.nbr_specialite %> <%= translate('database').speciality %>
		                        	</div>
		                        </div>
		                    </div>
		                    <div class="course-body">
		                    	<div class="course-desc">
		                    		<h4 class="course-title"><a href="/courses/<%= filiere[i].dataValues.id %>"><%= translate('database').filiere[filiere[i].dataValues.nom_filiere] %></a></h4>
		                    		<p>
		                    			<%= filiere[i].dataValues.description %>
		                    		</p>
		                    	</div>
		                    </div>
		                    <div class="course-footer">
		                    
		                    	<div class="course-button">
		                    		<a href="/courses/<%= filiere[i].dataValues.id %>"><%= translate('courses').voir %></a>
		                    	</div>
		                    </div>
		                </div>						
					</div>
				  <% }} %>
			    </div>
			   
			</div>
        </div>

     