<div class="rs-courses-details  pb-70">
    <div class="container">
<div class="abt-title ml-5">
    <h2><%= translate('courseDetail').detail %>  <%= translate('database').filiere[cours.dataValues.nom_filiere] %> </h2>
</div><br>

           
            <div class="course-desc">
                <h3 class="desc-title"><%= translate('courseDetail').description %></h3>
                <div class="desc-text">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsumor randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                </div>
                <div class="course-syllabus">
                    <h3 class="desc-title"><%= translate('courseDetail').branche %></h3>
                    <div id="accordion" class="rs-accordion-style1">
                    
                    <% if(specialite){for(var i = 0; i<specialite.length; i++){ %>
                        <div class="card">
                            <div class="card-header" id="heading<%- specialite[i].dataValues.id %>">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse<%- specialite[i].dataValues.id %>" aria-expanded="true" aria-controls="collapse<%- specialite[i].dataValues.id %>">
                                    <strong>Branche <%- i+1 %>: </strong>
                                    <span><%- specialite[i].dataValues.nom_specialite %></span>
                                </h3>
                            </div>
                            <div id="collapse<%- specialite[i].dataValues.id %>" class="collapse" aria-labelledby="heading<%- specialite[i].dataValues.id %>" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%- specialite[i].dataValues.description %>
                                </div>
                            </div>
                        </div>
                    <% } } %>
          
                        
                    </div>
                </div>
                
            </div>
    
</div>


</div>

