
        <div id="rs-courses-3" class="rs-courses-3">
			<div class="container">
				<div class="abt-title">
				    <h2>TOUS NOS COURS DISPONIBLES</h2>
				</div>
             
				<div class="row space-bt30">
				  <% if(filiere){for(let i = 0; i<filiere.length; i++) { %>
					<div class="col-lg-4 col-md-6 grid-item filter1">
		                <div class="course-item">
		                    <div class="course-img">
		                        <img src="/assets/images/courses/<%= filiere[i].dataValues.image_desc %>" alt="<%= filiere[i].dataValues.nom_filiere %>" />
		                       
		                        <div class="course-toolbar">
		                        	<div class="course-date">
		                        		<i class="fa fa-book"></i> <%= filiere[i].dataValues.nbr_specialite %> Specialités
		                        	</div>
		                        </div>
		                    </div>
		                    <div class="course-body">
		                    	<div class="course-desc">
		                    		<h4 class="course-title"><a href="/courses/<%= filiere[i].dataValues.id %>"><%= filiere[i].dataValues.nom_filiere %></a></h4>
		                    		<p>
		                    			<%= filiere[i].dataValues.description %>
		                    		</p>
		                    	</div>
		                    </div>
		                    <div class="course-footer">
		                    	<div class="course-seats">
		                    		<i class="fa fa-users" style="color:green"></i> <%= filiere[i].dataValues.nbr_inscrits %>
		                    	</div>
		                    	<div class="course-button">
		                    		<a href="/courses/<%= filiere[i].dataValues.id %>">Voir plus</a>
		                    	</div>
		                    </div>
		                </div>						
					</div>
				  <% }} %>
			    </div>
			   
			</div>
        </div>

        <div id="rs-partner" class="rs-partner pt-50 pb-70">
        
            <div class="container">
                <div class="abt-title mb-70 text-center">
					<h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
					<p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
                </div>
                <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
                    </div>
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
                    </div>
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
                    </div>
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
                    </div>
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
                    </div>
                    <div class="partner-item">
                        <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
                    </div>
                </div>
            </div>
        </div>