
<div class="abt-title text-center">
    <h2>Detail de la filière  : <%= cours.dataValues.nom_filiere %> </h2>
</div><br>

<div class="rs-courses-details  pb-70">
<div class="container">
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-8 col-md-12"> -->
            <!-- <div class="detail-img">
                <img src="/assets/images/courses/<%-cours.dataValues.image_desc %>" alt="Courses Images" />
                <div class="course-seats">
                    170 <span>SEATS</span>
                </div>
            </div> -->
           
            <div class="course-desc">
                <h3 class="desc-title">Description du cours</h3>
                <div class="desc-text">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsumor randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                </div>
                <div class="course-syllabus">
                    <h3 class="desc-title">Les différentes Branches</h3>
                    <div id="accordion" class="rs-accordion-style1">
                    
                    <% if(specialite){for(var i = 0; i<specialite.length; i++){ %>
                        <div class="card">
                            <div class="card-header" id="heading<%- specialite[i].dataValues.id %>">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse<%- specialite[i].dataValues.id %>" aria-expanded="true" aria-controls="collapse<%- specialite[i].dataValues.id %>">
                                    <strong>Branche <%- i+1 %>: </strong>
                                    <span><%- specialite[i].dataValues.nom_specialite %></span>
                                </h3>
                            </div>
                            <div id="collapse<%- specialite[i].dataValues.id %>" class="collapse" aria-labelledby="heading<%- specialite[i].dataValues.id %>" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%- specialite[i].dataValues.description %>
                                </div>
                            </div>
                        </div>
                    <% } } %>
          
                        
                    </div>
                </div>
                
            </div>
    
</div>


</div>

<div id="rs-partner" class="rs-partner pt-30 pb-70">
        
    <div class="container">
        <div class="abt-title mb-70 text-center">
            <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
            <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
            </div>
        </div>
    </div>
</div>