
<div class="abt-title text-center">
    <h2>Detail de la filière  : <%= cours.dataValues.nom_filiere %> </h2>
</div><br>

<div class="rs-courses-details  pb-70">
<div class="container">
    <!-- <div class="row"> -->
        <!-- <div class="col-lg-8 col-md-12"> -->
            <!-- <div class="detail-img">
                <img src="/assets/images/courses/<%-cours.dataValues.image_desc %>" alt="Courses Images" />
                <div class="course-seats">
                    170 <span>SEATS</span>
                </div>
            </div> -->
           
            <div class="course-desc">
                <h3 class="desc-title">Description du cours</h3>
                <div class="desc-text">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered altera tion in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsumor randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
                    </p>
                </div>
                <div class="course-syllabus">
                    <h3 class="desc-title">Les différentes Branches</h3>
                    <div id="accordion" class="rs-accordion-style1">
                    
                    <% if(specialite){for(var i = 0; i<specialite.length; i++){ %>
                        <div class="card">
                            <div class="card-header" id="heading<%- specialite[i].dataValues.id %>">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapse<%- specialite[i].dataValues.id %>" aria-expanded="true" aria-controls="collapse<%- specialite[i].dataValues.id %>">
                                    <strong>Branche <%- i+1 %>: </strong>
                                    <span><%- specialite[i].dataValues.nom_specialite %></span>
                                </h3>
                            </div>
                            <div id="collapse<%- specialite[i].dataValues.id %>" class="collapse" aria-labelledby="heading<%- specialite[i].dataValues.id %>" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%- specialite[i].dataValues.description %>
                                </div>
                            </div>
                        </div>
                    <% } } %>
          
                        
                    </div>
                </div>
                
            </div>
        <!-- </div> -->
        <!-- <div class="col-lg-4 col-md-12">
            <div class="sidebar-area">
                
                <div class="cate-box">
                    <h3 class="title">Courses Categories</h3>
                    <ul>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Analysis & Features <span>(05)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Video Reviews <span>(07)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">Engineering Tech <span>(09)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#"> Righteous Indignation <span>(08)</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#">General Education <span>(04)</span></a>
                        </li>
                    </ul>
                </div>
                <div class="latest-courses">
                    <h3 class="title">Latest Courses</h3>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm1.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm2.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="post-img">
                            <a href="courses-details.html"><img src="/assets/images/blog-details/sm3.jpg" alt="" title="News image"/></a>
                        </div>
                        <div class="post-desc">
                            <h4><a href="courses-details.html">Raken develops reporting The software</a></h4>
                            <span class="duration"> 
                                <i class="fa fa-clock-o" aria-hidden="true"></i> 4 Years
                            </span> 
                            <span class="price">Price: <span>$350</span></span>
                        </div>
                    </div>
                </div>
                <div class="tags-cloud clearfix">
                    <h3 class="title">courses Tags</h3>
                    <ul>
                        <li>
                            <a href="#">SCIENCE</a>
                        </li>
                        <li>
                            <a href="#">HUMANITIES</a>
                        </li>
                        <li>
                            <a href="#">DIPLOMA</a>
                        </li>
                        <li>
                            <a href="#">BUSINESS</a>
                        </li>
                        <li>
                            <a href="#">SPROTS</a>
                        </li>
                        <li>
                            <a href="#">RESEARCH</a>
                        </li>
                        <li>
                            <a href="#">ARTS</a>
                        </li>
                        <li>
                            <a href="#">ADMISSIONS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
</div>
<div id="rs-testimonial" class="rs-testimonial pt-100 pb-45 sec-color">
    <div class="container">
        <div class="sec-title-2 mb-50">
            <h2>Les Etudiants inscrits</h2>      
            <p>Tous les étudiants inscrits à la filière Gestion <%= cours.dataValues.nom_filiere %></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div  class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="30" data-autoplay="true" data-autoplay-timeout="8000" data-smart-speed="1200" data-dots="false" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-md-device="2" data-md-device-nav="true" data-md-device-dots="false">
                   <% if(student){ for(let i = 0; i<student.length; i++) { %>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="/assets/images/avatar/<%= student[i].dataValues.photo_profil %>" alt="<%= student[i].dataValues.nom %>"/>
                        </div>
                        <div class="testi-desc">
                            <h4 class="testi-name"><%= student[i].dataValues.nom %> <%= student[i].dataValues.prenom %></h4>
                            <p>
                                Inscrit dans la specialité numéro  <%= student[i].dataValues.specialiteId  %>.
                            </p>
                        </div>
                    </div>
                    <% }} %>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div id="rs-partner" class="rs-partner pt-30 pb-70">
        
    <div class="container">
        <div class="abt-title mb-70 text-center">
            <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
            <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
            </div>
        </div>
    </div>
</div>