<div class="abt-title text-center">
    <h2>Détail de l'Évènement </h2>
</div>
<!-- Event Details Start -->
<div class="rs-event-details pt-70 pb-70">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-8 col-md-12"> -->
                <div class="event-details-content">
                    <h3 class="event-title"><a href="events-details.html"><%= events.dataValues.title  %></a></h3>
                    <div class="event-meta">
                        <div class="event-date">
                            <i class="fa fa-calendar"></i>
                            <span><%= events.dataValues.date  %></span>
                        </div>
                        <div class="event-time">
                            <i class="fa fa-clock-o"></i>
                            <span><%= events.dataValues.temps_debut  %> - <%= events.dataValues.temps_fin  %></span>
                        </div>
                        <div class="event-location">
                            <i class="fa fa-map-marker"></i>
                            <span><%= events.dataValues.lieu  %></span>
                        </div>
                    </div>
                    <div class="event-img">
                        <img src="/assets/images/events/<%= events.dataValues.image_dsc  %>" alt="<%= events.dataValues.image_dsc  %>" />
                    </div>
                    <div class="event-desc">
                        <p>
                            A university event license follows the same format as the standard event license, except this event is co-branded with a university name (e.g., “TEDxNYU”). This means that the event is hosted by that college or university, so you’ll need permission from that school to hold the event and to use the university's name. Usually, the audience of a university event are students.
                        </p>
                        <p>
                            For a university event type, your focus or theme should be multidisciplinary and broad, and address a variety of topics. You’ll want to feature a diversity of speakers from across several disciplines, and speakers from the university where you’re holding your event. To get an idea of what you want the focus of your event, A university event license follows the same format as the standard event license, except this event is co-branded with a university.
                        </p>
                    </div>
                    
                    
                </div>
            <!-- </div> -->
            
        </div>
    </div>
</div>


<div id="rs-partner" class="rs-partner pt-30 pb-70">
        
    <div class="container">
        <div class="abt-title mb-70 text-center">
            <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
            <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/1.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/3.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/4.png" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
            </div>
            <div class="partner-item">
                <a href="#"><img src="/assets/images/partner/6.jpeg" alt="Partner Image"></a>
            </div>
        </div>
    </div>
</div>