<div class="rs-events-2">
    <div class="container">
        <div class="abt-title">
            <h2><%= translate('events').title %></h2>
        </div>
       <% for(let i = 0; i< events.length; i=i+1) { %> 
            <div class="row">
              <% if(events[i]) { %>
                <div >
                    <div class="event-item">
                        <div class="row rs-vertical-middle">
                            <div class="col-md-6">
                                <div class="event-img">
                                    <img src="/assets/images/events/<%= events[i].dataValues.image_dsc %>" alt="<%= events[i].dataValues.image_dsc %>" />
                                    <a class="image-link" href="/events/<%= events[i].dataValues.id %>" title="University Tour 2018">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>                        		
                            </div>
                            <div class="col-md-6">
                                <div class="event-content">
                                    <div class="event-meta">
                                        <div class="event-date">
                                            <i class="fa fa-calendar"></i>
                                            <span><%= events[i].dataValues.date %></span>
                                        </div>
                                        <div class="event-time">
                                            <i class="fa fa-clock-o"></i>
                                            <span><%= events[i].dataValues.temps_debut %> - <%= events[i].dataValues.temps_fin %></span>
                                        </div>
                                    </div></BR></BR>
                                    <h3 class="event-title"><a href="/events/<%= events[i].dataValues.id %>"><%= translate('database').events[events[i].dataValues.title] %></a></h3>
                                    <BR><BR>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span><%= events[i].dataValues.lieu %></span>
                                    </div>
                                    <BR><BR>
                                    <div class="event-btn">
                                        <a href="/events/<%= events[i].dataValues.id %>"><%= translate('events').voir %></a>
                                    </div>
                                </div>                    		
                            </div>
                        </div>                    		
                    </div>
                </div>
              <% } %>
            </div>
        <% } %>
       
 
    </div>
</div>

