    <!-- About Us Start --><br/><br/>
    <div id="rs-about" class="rs-about">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>À PROPOS DE NOUS</h2>     
                <p>Biast est un institut créé en 2020 par le Professeur Tala Pierre Kisito, Chef de département de physique à l'université de Dschang</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-img rs-animation-hover">
                        <img src="/assets/images/about/image.jpg" alt="img02"/>
                        <a class="popup-youtube rs-animation-fade" href="https://www.youtube.com/watch?v=tzMpWiGL8D8" title="Video Icon">
                        </a>
                        <div class="overly-border"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-desc">
                        <h3>BIENVENUE CHEZ BIAST</h3>      
                        <p>Avec Biast, votre formation est garantie et votre avenir n’est plus une préoccupation majeure. Tous nos filières sont reconnues pas des pays étrangers tels que : la France, l’Allemagne, l’Autriche etc...</p>
                    </div>
                    <div id="accordion" class="rs-accordion-style1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h3 class="acdn-title" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Notre Histoire
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    La brillante pensée du professeur Talla Pierre Kisito à faire naitre les étincelles de l’institut Biast en 2020. C’est grâce a ces nombreux voyages de part le monde en générale, et les différente coopération avec les grand chef d’entreprise en particulier, qui a donnée vie a cette institut..
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Notre Mission
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Assurer l’avenir des enfants est une problématique des plus fréquents dans une famille. La mission de Biast est de former les enfants et de les garantir un avenir meilleur dans des grands écoles de grand pays..
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header mb-0" id="headingThree">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                     Notre Vision
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    Biast vise à établir une connexion solide entre le Cameroun et les pays étrangers afin que tous les étudiants qui se forme, puisse bénéficier de l’aide des mains extérieurs plus expérimenter pour ainsi faire avancer sa connaissance et faire avancer la technique et l’éducation dans notre pays.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->
<br>
    <!-- Courses Start -->
    <div id="rs-courses" class="rs-courses sec-spacer sec-color">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS SUJETS LES PLUS POPULAIRES</h2>      
                <p>Les filières les plus fréquemment solliciter par les étudiants qui s'inscrivent à Biast</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                      <% if(filiere) {for(var j=0; j<filiere.length; j++) { %>
                        <div class="cource-item">
                            <div class="cource-img">
                                <img src=<%= "/assets/images/courses/" + filiere[j].dataValues.image_desc %> alt="" />
                                <a class="image-link" href="/courses/<%= filiere[j].dataValues.id %>" title="<%= filiere[j].dataValues.nom_filiere %>">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="course-body">
                                <h4 class="course-title"><a href="/courses/<%= filiere[j].dataValues.id %>"><%= filiere[j].dataValues.nom_filiere %></a></h4>
                                <div class="review-wrap">
                                </div>
                                <div class="course-desc">
                                    <p>
                                        <%= filiere[j].dataValues.nbr_specialite %> Specialités
                                    </p>
                                </div>
                            </div>
                            <div class="course-footer">
                                Nombre d’étudiants inscrit : <%= filiere[j].dataValues.nbr_inscrits %>
                            
                            </div>
                        </div>
                      <% }} %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    
    <!-- Counter Up Section Start-->
    <div class="rs-counter pt-100 pb-70 bg3" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="counter-content">
                        <h2 class="counter-title">LAUREATS ET STATISTIQUES</h2>
                        <div class="counter-text">
                            <p>Biast, pour année antérieure est entrain de totaliser les effectifs suivants</p>
                        </div>
                        <div class="counter-img rs-image-effect-shine">
                            <img src="/assets/images/counter/achieve.jpg" alt="Counter Discussion">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-80">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">10</h2>                  
                                <h4 class="counter-desc">ENSEIGNANTS</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">14</h2>
                                <h4 class="counter-desc">FILIÈRES </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">100</h2>                  
                                <h4 class="counter-desc">ÉTUDIANTS </h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">78</h2>
                                <h4 class="counter-desc">REUSSITE</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Down Section End -->

    <!-- Events Start -->
    <div id="rs-events" class="rs-events sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS DIFFÉRENTS ÉVÈNEMENTS</h2>      
                <p>Les différents événements au cours de ces trois dernières années, réunions, organisations, visites d'une personnalité ou d'une entreprise</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                      <% if(events){for(let i = 0; i<events.length; i++) { %>
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/<%= events[i].dataValues.image_dsc %>" alt="<%= events[i].dataValues.image_desc %>" />
                                <a class="image-link" href="/events/<%= events[i].dataValues.id %>" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span><%= events[i].dataValues.date %></span>
                                </div>
                                <h4 class="event-title"><a href="/events/<%= events[i].dataValues.id %>"><%= events[i].dataValues.title %> </a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>De <%= events[i].dataValues.temps_debut %>  à <%= events[i].dataValues.temps_fin %></span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span><%= events[i].dataValues.lieu %> </span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="#">Voir l'Évènement  <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                      <% }} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Events End -->
    
    <!-- Team Start -->
    <div id="rs-team" class="rs-team">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOTRE PERSONNEL EXPÉRIMENTÉ</h2>      
                <p>Les experts de BIAST sont là pour tous vos préoccupations et vous encourage dans vos diffèrent choix de filières

                </p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout1.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/diane.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Donfack Diane</h3>
                            <span class="subtitle">Assistant Secrétaire</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Donfack Diane</a></h3>
                                <span class="team-title">Assistant Secrétaire</span>
                                <p class="team-desc">Établir les plannings des réunions, fixe des rendez-vous.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <div id="rs-latest-news" class="rs-latest-news sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS PUBLICATIONS LES PLUS RÉCENTES  </h2>      
                <p>Les Informations quelques peu inportantes pour les étudiants inscrit à Biast.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="news-normal-block">
                        <div class="news-img">
                            <a href="#">
                                <img src="/assets/images/blog/try.jpg" alt="" />
                            </a>
                        </div>
                        <div class="news-date">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>Aout  6,  2023</span>
                        </div>
                        <h4 class="news-title"><a href="blog-details.html">Visite du directeur de l'INSET de yaounde</a></h4>
                        <div class="news-desc">
                            <p>
                                Les échanges marquants entre le directeur de l'INSET et le créateur de Biast, Professeur Talla Pierre Kisito.
                            </p>
                        </div>
                        <div class="news-btn">
                            <a href="#">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="news-list-block">
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/presence.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Travail d'équipe des étudiants de la spécialité aide-soignante

                                </a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Avril  20,  2021</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Le travail d'équipe est l'une des clés du succès car le partage d'idée et de connaissance permet de faire avancer l'acquisition de compétences


                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/soutenance.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Soutenance des étudiants en fin de formation en étude Medico-sanitaire</a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Juillet  18,  2021</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Sous le Thème de l'analyse des voies et moyens pour prévenir les maladies cardio-vasculaires, les étudiants obtiennent mention très bien
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/present.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Discourt du Professeur Talla sur la présentation des opportunités de Biast aux nouveaux bacheliers

                                </a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Juillet  28,  2023</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Les membres de l'institut biast on faire la présentation de l'institut au niveau bacheliers présents


                                    </p>
                                </div>
                            </div>			        			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <!-- Partner Start -->
    <div id="rs-partner" class="rs-partner pt-60 pb-70 ">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2>NOS UNIVERSITÉS PARTENAIRES</h2>      
                <p>Tous nos universités et entreprises partenaires partout dans le monde entier.</p>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="80" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false" data-nav-speed="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/1.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/2.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/3.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/4.png" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/5.jpeg" alt="Partner Image"></a>
                </div>
                <div class="partner-item">
                    <a href="#"><img class="rounded-3" src="/assets/images/partner/6.jpg" alt="Partner Image"></a>
                </div>
            </div>
        </div>
    </div>