    <!-- About Us Start --><br/><br/>
    <div id="rs-about" class="rs-about">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2><%= translate('subtitle').content1.title %></h2>     
                <p><%= translate('subtitle').content1.resume %></p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-img rs-animation-hover">
                        <img src="/assets/images/about/image.png" alt="img02"/>
                        <a class="popup-youtube rs-animation-fade" href="https://www.youtube.com/watch?v=tzMpWiGL8D8" title="Video Icon">
                        </a>
                        <div class="overly-border"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-desc">
                        <h3><%= translate('description').title  %></h3>      
                        <p><%= translate('description').intro  %></p>
                    </div>
                    <div id="accordion" class="rs-accordion-style1">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h3 class="acdn-title" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <%= translate('description').hystory.title  %>
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%= translate('description').hystory.content  %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <%= translate('description').mission.title  %>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%= translate('description').mission.content  %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header mb-0" id="headingThree">
                                <h3 class="acdn-title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <%= translate('description').vision.title  %>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <%= translate('description').vision.content  %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us End -->
<br>
    <!-- Courses Start -->
    <div id="rs-courses" class="rs-courses sec-spacer sec-color">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2><%= translate('subtitle').content2.title %></h2>     
                <p><%= translate('subtitle').content2.resume %></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                      <% if(filiere) {for(var j=0; j<filiere.length; j++) { %>
                        <div class="cource-item">
                            <div class="cource-img">
                                <a href="/courses/<%= filiere[j].dataValues.id %>" title="<%= filiere[j].dataValues.nom_filiere %>"> <img src=<%= "/assets/images/courses/" + filiere[j].dataValues.image_desc %> alt="" /></a>
                                <a class="image-link" href="/courses/<%= filiere[j].dataValues.id %>" title="<%= filiere[j].dataValues.nom_filiere %>">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="course-body">
                                <h4 class="course-title"><a href="/courses/<%= filiere[j].dataValues.id %>"><%= translate('database').filiere[filiere[j].dataValues.nom_filiere] %></a></h4>
                                <div class="review-wrap">
                                </div>
                                <div class="course-desc">
                                    <p>
                                        <%= filiere[j].dataValues.nbr_specialite + ' ' + translate('database').speciality %> 
                                    </p>
                                </div>
                            </div>
                           
                        </div>
                      <% }} %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    
    <!-- Counter Up Section Start-->
    <div class="rs-counter pt-100 pb-70 bg3" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="counter-content">
                        <h2 class="counter-title"><%= translate('subtitle').content3.title %></h2>
                        <div class="counter-text">
                            <p><%= translate('subtitle').content3.resume %></p>
                        </div>
                        <div class="counter-img rs-image-effect-shine">
                            <img src="/assets/images/counter/achieve.jpg" alt="Counter Discussion">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-80">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">30</h2>                  
                                <h4 class="counter-desc"><%= translate('enseignant') %></h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">15</h2>
                                <h4 class="counter-desc"><%= translate('filiere') %> </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">150</h2>                  
                                <h4 class="counter-desc"><%= translate('etudiant') %> </h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-counter-list">
                                <h2 class="counter-number plus">20</h2>
                                <h4 class="counter-desc"><%= translate('reussite') %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Down Section End -->

    <!-- Events Start -->
    <div id="rs-events" class="rs-events sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2><%= translate('subtitle').content4.title %></h2>     
                <p><%= translate('subtitle').content4.resume %></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                      <% if(events){for(let i = 0; i<events.length; i++) { %>
                        <div class="event-item">
                            <div class="event-img">
                                <img src="/assets/images/events/<%= events[i].dataValues.image_dsc %>" alt="<%= events[i].dataValues.image_desc %>" />
                                <a class="image-link" href="/events/<%= events[i].dataValues.id %>" title="University Tour 2018">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                            <div class="events-details sec-color">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    <span><%= events[i].dataValues.date %></span>
                                </div>
                                <h4 class="event-title"><a href="/events/<%= events[i].dataValues.id %>"><%= translate('database').events[events[i].dataValues.title] %> </a></h4>
                                <div class="event-meta">
                                    <div class="event-time">
                                        <i class="fa fa-clock-o"></i>
                                        <span><%= translate('from') %> <%= events[i].dataValues.temps_debut %> <%= translate('to') %>  <%= events[i].dataValues.temps_fin %></span>
                                    </div>
                                    <div class="event-location">
                                        <i class="fa fa-map-marker"></i>
                                        <span><%= events[i].dataValues.lieu %> </span>
                                    </div>
                                </div>
                                <div class="event-btn">
                                    <a href="/events/<%= events[i].dataValues.id %>"><%= translate('voir') %>  <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                      <% }} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Events End -->
    
    <!-- Team Start -->
    <div id="rs-team" class="rs-team">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2><%= translate('subtitle').content5.title %></h2>     
                <p><%= translate('subtitle').content5.resume %></p>

            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="1200" data-dots="true" data-nav="true" data-nav-speed="false" data-mobile-device="1" data-mobile-device-nav="true" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="true" data-ipad-device-dots="true" data-md-device="3" data-md-device-nav="true" data-md-device-dots="true">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/mahout1.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Mahout</h3>
                            <span class="subtitle">Secrétaire </span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Mahout</a></h3>
                                <span class="team-title">Secrétaire</span>
                                <p class="team-desc">Gère les inscriptions des étudiants et organise les réunions de coordination</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="team-img">
                        <img src="/assets/images/team/diane.jpg" alt="img02"/>
                        <div class="normal-text">
                            <h3 class="team-name">Mme Donfack Diane</h3>
                            <span class="subtitle">Assistant Secrétaire</span>
                        </div>
                    </div>
                    <div class="team-content">
                        <div class="overly-border"></div>
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3 class="team-name"><a href="teachers-single.html">Mme Donfack Diane</a></h3>
                                <span class="team-title">Assistant Secrétaire</span>
                                <p class="team-desc">Établir les plannings des réunions, fixe des rendez-vous.</p>
                                <div class="team-social">
                                    <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <div id="rs-latest-news" class="rs-latest-news sec-spacer">
        <div class="container">
            <div class="sec-title mb-50 text-center">
                <h2><%= translate('subtitle').content6.title %></h2>     
                <p><%= translate('subtitle').content6.resume %></p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="news-normal-block">
                        <div class="news-img">
                            <a href="#">
                                <img src="/assets/images/blog/try.jpg" alt="" />
                            </a>
                        </div>
                        <div class="news-date">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>Aout  6,  2023</span>
                        </div>
                        <h4 class="news-title"><a href="blog-details.html">Visite du directeur de l'INSET de yaounde</a></h4>
                        <div class="news-desc">
                            <p>
                                Les échanges marquants entre le directeur de l'INSET et le créateur de Biast, Professeur Talla Pierre Kisito.
                            </p>
                        </div>
                        <div class="news-btn">
                            <a href="#">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="news-list-block">
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/presence.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Travail d'équipe des étudiants de la spécialité aide-soignante

                                </a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Avril  20,  2021</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Le travail d'équipe est l'une des clés du succès car le partage d'idée et de connaissance permet de faire avancer l'acquisition de compétences
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/soutenance.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Soutenance des étudiants en fin de formation en étude Medico-sanitaire</a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Juillet  18,  2021</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Sous le Thème de l'analyse des voies et moyens pour prévenir les maladies cardio-vasculaires, les étudiants obtiennent mention très bien
                                    </p>
                                </div>
                            </div>			        			
                        </div>
                        <div class="news-list-item">
                            <div class="news-img">
                                <a href="#">
                                    <img src="/assets/images/blog/present.jpg" alt="" />
                                </a>
                            </div>			        			
                            <div class="news-content">
                                <h5 class="news-title"><a href="blog-details.html">Discourt du Professeur Talla sur la présentation des opportunités de Biast aux nouveaux bacheliers

                                </a></h5>
                                <div class="news-date">
                                    <i class="fa fa-calendar-check-o"></i>
                                    <span>Juillet  28,  2023</span>
                                </div>
                                <div class="news-desc">
                                    <p>
                                        Les membres de l'institut biast on faire la présentation de l'institut au niveau bacheliers présents


                                    </p>
                                </div>
                            </div>			        			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <!-- Partner Start -->
