<style>
    th{
        color: green;
        font-style: italic;
    }
    .presentation td{
        font-weight: bold;
    }

    .presentation  th { 
        padding:0.5em; 
        text-align: center; 
    } 

    .navbar td{
        padding-left: 55px;
    
    } 
    .deux > tr{
        padding-top: 10px;
    }
    #show-form-changeimage{
        border: 2px inset sienna;
        border-radius: 5px;
    }
    .info:hover{
        border-style: inherit;
        /* background-color: bisque; */
        position: relative;
        border-color: brown;
        border-radius: 10px;
       
    }
    .navbar a:hover{
        color:red;
    }

    .active{
        color: red;
    }
    
    a:hover{
        color:red;
        font-weight: bold;
    }


</style>

<% if(page == 0) { %>
    
<center>
 <h1 style="color:green"><%= translate('personalPage').bienvenu %></h1>
<div id="toto" class="container" style="font-size:15px; width: 70%; text-align: center;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand"><img src="/assets/images/main.png" height="50" width="50"  alt="main"/> </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <% if(path == "/personalpage") { %><a class="nav-link active" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[0] %>  </a><% } else { %><a class="nav-link" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[0] %></a><% } %>
                    </li>
                   <li class="nav-item">
                    <% if(path == "/personalpage/modifPassword") { %><a class="nav-link active" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[1] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[1] %></a><% } %>
                   </li>
                   <li class="nav-item">
                    
                       <% if(path == "/personalpage/modifPhoto") { %><a class="nav-link active" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[2] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[2] %></a><% } %>
                   </li>
                   <li class="nav-item">
                       
                       <% if(path == "/personalpage/consultNotes") { %><a class="nav-link active" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[3] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[3] %></a><% } %>
                   </li>
               </ul>
           </div>
        </div>
    </nav>

</div>
<br>




 <div style="background-color: rgba(240,243,250,0.4); font-size:18px;border: 8px solid green; width: 70%;">
<div class="container" >
    
    <div>
        <div style=" color: green; border-bottom: 3px solid black;">
            <span><%= translate('personalPage').info %></span>
        </div>
    <br>
   
      
     <div style="text-align: left; padding-left: 35%;">
        <%= translate('personalPage').labels.nom %> :
        <strong><%- etudiant.dataValues.nom %> <%- etudiant.dataValues.prenom %></strong><br>
        <br>
        <%= translate('personalPage').labels.lieu_de_naissance %> :
        <strong><%- etudiant.dataValues.lieu_de_naissance %></strong><br>
        <br>
    
        <%= translate('personalPage').labels.email %> :
        <strong><%- etudiant.dataValues.email %></strong><br>
        <br>
        <%= translate('personalPage').labels.numero_cni %> :
        <strong><%- etudiant.dataValues.numero_cni %></strong><br>
        <br>
        <%= translate('personalPage').labels.pays %> :
        <strong><%- etudiant.dataValues.pays %></strong><br>
        <br>
        <%= translate('personalPage').labels.region_origine %> :
        <strong><%- etudiant.dataValues.region %></strong><br>
        <br>
        <%= translate('personalPage').labels.email %> :
        <strong><%- etudiant.dataValues.ville %></strong><br>

     </div>
            
   
     

              
        
        </div>
        <br>

        <a href=<%= "/personalPage/ma_fiche_inscription?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> target="_blank"><img src="/assets/images/main.png" height="50" width="50"  alt="main"/> Voir ma fiche d'inscription</a>

</div>

<br/>
<br>


<!-- <div class="container text-align-center" style="border: 1px solid red;"> -->


    <table class="deux" style="border-spacing:14px">
        <tr>
            <td ><a href=<%= "/personalPage/mesInfos?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/mesinformation.png" style="border: 2px solid green;" alt="" width="100" height="100"></a></td>
            <td><a href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/maphoto.png"  style="border: 2px solid green;" alt="" width="100" height="100"></a> </td>
            <td><a href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/modepasse.png" style="border: 2px solid green;" alt="" width="100" height="100"></a> </td>
            <td> <a href="#" class="info"><img src="/assets/images/suggection.png"  style="border: 2px solid green;" alt="" width="100" height="100"></a> </td>
            <td> <a href="#" class="info"><img src="/assets/images/message.png" style="border: 2px solid green;" alt="" width="100" height="100"></a> </td>
            <td> <a href="#" class="info"><img src="/assets/images/note.png" style="border: 2px solid green;" alt="" width="100" height="100"></a> </td>

        </tr>
      
    </table>
    

</div>
</center>
<div id="rs-partner" class="rs-partner pt-50 pb-70">
        
</div>


<% } else if(page == 1)  {%>

   <div class="container" style="font-size:16px; width: 70%; text-align: center;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand"><img src="/assets/images/main.png" height="50" width="50"  alt="main"/> </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <% if(path == "/personalpage") { %><a class="nav-link active" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %></a><% } else { %><a class="nav-link" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %>  </a><% } %>
                    </li>
                   <li class="nav-item">
                    <% if(path == "/personalpage/modifPassword") { %><a class="nav-link active" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[1] %>  </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[1] %> </a><% } %>
                   </li>
                   <li class="nav-item">
                    
                       <% if(path == "/personalpage/modifPhoto") { %><a class="nav-link active" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[2] %>  </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[2] %> </a><% } %>
                   </li>
                   <li class="nav-item">
                       
                       <% if(path == "/personalpage/consultNotes") { %><a class="nav-link active" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[3] %>  </a><% } else { %><a class="nav-link" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[3] %> </a><% } %>
                   </li>
               </ul>
           </div>
        </div>
    </nav>
    


<br>
    <table class="deux" style="border-spacing:14px">
        <tr>
            <td><a href=<%= "/personalPage/modifierInfos?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/modifier.png" alt="" width="80" height="80"></a></td>
            <td><a href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/ma_photo.png"  alt="" width="80" height="80"></a> </td>
            <td><a href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/password.png"  alt="" width="80" height="80"></a> </td>

        </tr>
    </table>

    <br>
</div>
    <center><table border="1" width="70%" align="center">
        <tbody><tr id="titrerubrique" style="color:white;background-color: black;">
            <td colspan="5">
                <%= translate('personalPage').info %>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td width="100px" rowspan="9" align="center">
                <a class="icon-16-trash" href="/espaceprive/uploadpic" >
                    <% if(etudiant.dataValues.photo_profil) { %>
                        <img class="photo rounded" id="show-form-changeimage" alt="profile" src="/assets/images/avatar/<%- etudiant.dataValues.photo_profil %>" height="120" width="120" title="<%- etudiant.dataValues.photo_profil %>"></a>
                    <% } else { %>
                        <img class="photo rounded" id="show-form-changeimage" alt="profile" src="/assets/images/avatar/noprofile.png"  height="120" width="120" title="<%- etudiant.dataValues.photo_profil %>"></a>
                    <% } %>
            </td>
            <td width="200px" class="textstyle">Matricule : <strong>CM-BIAST-23GEEL001</strong></td>
    
            <td width="200px" class="textstyle">Nombre d'enfant : <strong><%- etudiant.dataValues.nbr_enfant %></strong></td>
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Nom : <strong><%- etudiant.dataValues.nom %></strong></td>
    
            <td width="200px" class="textstyle">Prénom : <strong><%- etudiant.dataValues.prenom %></strong></td>
    
        </tr>

        <tr>
            <td width="200px" class="textstyle">Filiére : <strong><%- filiere %></strong></td>
    
            <td width="200px" class="textstyle">Specialité  : <strong><%- specialite %></strong></td>
    
        </tr>
    
        <tr>
    
            <td width="200px" class="textstyle">Sexe : <strong><%- etudiant.dataValues.sexe %></strong></td>
            <td width="200px" class="textstyle">Date de Naissance : <strong><%- etudiant.dataValues.date_de_naissance.getDate()%>/<%- etudiant.dataValues.date_de_naissance.getMonth()%>/<%- etudiant.dataValues.date_de_naissance.getFullYear()%></strong></td>
    
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Lieu de Naissance : <strong><%- etudiant.dataValues.lieu_de_naissance %></strong></td>
    
            <td width="200px" class="textstyle">Nationalité : <strong><%- etudiant.dataValues.pays %></strong></td>
    
        </tr>
        
        <tr>
            <td width="200px" class="textstyle">Région d'origine : <strong><%- etudiant.dataValues.region %></strong></td>
    
            <td width="200px" class="textstyle">Département d'origine : <strong><%- etudiant.dataValues.departement %></strong></td>
    
        </tr>
    
        <tr>
    
            <td width="200px" class="textstyle">Arrondissament d'origine : <strong><%- etudiant.dataValues.lieu_de_naissance %></strong></td>
    
            <td width="200px" class="textstyle">Situation familliale : <strong><%- etudiant.dataValues.status_matrimoniale %></strong></td>
    
        </tr>
        
        <tr>
    
            <td width="200px" class="textstyle">Nombre d'enfant : <strong><%- etudiant.dataValues.nbr_enfant %></strong></td>
    
            <td width="200px" class="textstyle">Situation emploi : <strong><%- etudiant.dataValues.emploi %></strong></td>
    
        </tr>
        
        <tr>
    
            <td width="200px" class="textstyle">Handicapé : <strong><%- etudiant.dataValues.handicape %></strong></td>
    
            <td width="200px" class="textstyle">Langue officielle : <strong><%- etudiant.dataValues.langue %></strong></td>
    
        </tr>
        <tr><td>&nbsp;</td></tr>
    </tbody></table></center>
     <center><table border="1" width="70%" align="center">
        <tbody><tr id="titrerubrique" style="color:white;background-color: black;">
            <td colspan="5">
                Adresse étudiants
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td width="100px" rowspan="3" align="center">&nbsp;</td>
            <td width="200px" class="textstyle">Ville de résidence : <strong><%- etudiant.dataValues.ville %></strong></td>
    
            <td width="200px" class="textstyle">Code postal : <strong><%- etudiant.dataValues.code_postal %></strong></td>
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Téléphone : <strong><%- etudiant.dataValues.telephone %></strong></td>
    
            <td width="200px" class="textstyle">CNI N° : <strong><%- etudiant.dataValues.numero_cni %></strong></td>
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Dernier établissement fré quenté  : <strong><%- etudiant.dataValues.dernier_ecole %></strong></td>
    
            <td width="200px" class="textstyle">Email : <strong><%- etudiant.dataValues.email %></strong></td>
    
        </tr>
        <tr><td>&nbsp;</td></tr>
    </tbody></table></center>

     <center><table border="1" width="70%" align="center" >
        <tbody><tr id="titrerubrique" style="color:white;background-color: black;">
            <td colspan="5">
                Informations Parents
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        
        <tr>
            <td width="100px" rowspan="3" align="center">&nbsp;</td>
            <td width="200px" class="textstyle">Nom du père : <strong><%- etudiant.dataValues.nom_pere %></strong></td>
    
            <td width="200px" class="textstyle">Profession du père : <strong><%- etudiant.dataValues.profession_pere %></strong></td>
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Nom de la mère : <strong><%- etudiant.dataValues.nom_mere %></strong></td>
    
            <td width="200px" class="textstyle">Profession de la mère : <strong><%- etudiant.dataValues.profession_mere %></strong></td>
    
        </tr>
    
        <tr>
            <td width="200px" class="textstyle">Autre adresse : <strong><%- etudiant.dataValues.addr_pere %></strong></td>
    
            
    
        </tr>
        <tr><td>&nbsp;</td></tr>
    </tbody></table></center>

    <div id="rs-partner" class="rs-partner pt-50 pb-70">
        
    </div>

<% } else if(page == 2) { %>

    <div class="container" style="font-size:16px; width: 70%; text-align: center;">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand"><img src="/assets/images/main.png" height="50" width="50"  alt="main"/> </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <% if(path == "/personalpage") { %><a class="nav-link active" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %> </a><% } %>
                        </li>
                       <li class="nav-item">
                        <% if(path == "/personalpage/modifPassword") { %><a class="nav-link active" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[1] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[1] %></a><% } %>
                       </li>
                       <li class="nav-item">
                        
                           <% if(path == "/personalpage/modifPhoto") { %><a class="nav-link active" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[2] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[2] %></a><% } %>
                       </li>
                       <li class="nav-item">
                           
                           <% if(path == "/personalpage/consultNotes") { %><a class="nav-link active" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[3] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[3] %></a><% } %>
                       </li>
                   </ul>
               </div>
            </div>
        </nav>
        
    
    
    <br>
        <table class="deux" style="border-spacing:14px">
            <tr>
                <td ><a href=<%= "/personalPage/modifierInfos?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/modifier.png" alt="" width="80" height="80"></a></td>
                <td><a href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/ma_photo.png"  alt="" width="80" height="80"></a> </td>
                <td><a href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/password.png"  alt="" width="80" height="80"></a> </td>
    
            </tr>
        </table>
    
        <br>
    </div >
    
    
        <center><table border="1" width="70%" style="background-color: rgba(240,243,250,0.4);" align="center">
            <tbody><tr id="titrerubrique" style="color:white;background-color: black;">
                <td colspan="5">
                    <%= translate('personalPage').password.edit %>
                </td>
            </tr>

            <tr>
                <td colspan="1" style="width: 100px;">  </td>
                <td>
                    <div class="input-text" style="color: red; font-style: italic; font-family: consolas;">
                        <% if(message) { %><%- message %> <% } %>
                    </div>

                   <form action=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> method="post">
                    <div class="input-text">
                        <div class="input-div">
                            <label for="ancien"><%= translate('personalPage').password.ancien %> </label>
                            <input type="text" id="ancien" name="ancien" required require id="user_name">
                            
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <label for="ancien"><%= translate('personalPage').password.nouveau %> </label>
                            <input type="password" name="nouveau" required require>
                            
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <label for="ancien"><%= translate('personalPage').password.confirmer %> </label>
                            <input type="password" name="confirm" required require>
                        </div>
                    </div>

                    <div class="buttons" style="padding-bottom: 4px;">
                        <button type="submit"  class="submit_button"><%= translate('personalPage').password.modifier %></button>
                    </div>
                   </form> 
                   

                </td>
                
                <td colspan="1" style="width: 100px;"> </td>
            </tr>
         

        </tbody></table></center>
         
        <div id="rs-partner" class="rs-partner pt-50 pb-70">
        
        </div>

<% } else if(page==3) { %>

    <div class="container" style="font-size:16px; width: 70%; text-align: center;">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand"><img src="/assets/images/main.png" height="50" width="50"  alt="main"/> </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <% if(path == "/personalpage") { %><a class="nav-link active" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[0] %> </a><% } %>
                        </li>
                       <li class="nav-item">
                        <% if(path == "/personalpage/modifPassword") { %><a class="nav-link active" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[1] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>> <%= translate('personalPage').nav[1] %></a><% } %>
                       </li>
                       <li class="nav-item">
                        
                           <% if(path == "/personalpage/modifPhoto") { %><a class="nav-link active" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[2] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[2] %></a><% } %>
                       </li>
                       <li class="nav-item">
                           
                           <% if(path == "/personalpage/consultNotes") { %><a class="nav-link active" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>>  <%= translate('personalPage').nav[3] %> </a><% } else { %><a class="nav-link" href=<%= "/personalpage/consultNotes?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %>><%= translate('personalPage').nav[3] %></a><% } %>
                       </li>
                   </ul>
               </div>
            </div>
        </nav>
        
    
    
    <br>
        <table class="deux" style="border-spacing:14px">
            <tr>
                <td ><a href=<%= "/personalPage/modifierInfos?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/modifier.png" alt="" width="80" height="80"></a></td>
                <td><a href=<%= "/personalpage/modifPhoto?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/ma_photo.png"  alt="" width="80" height="80"></a> </td>
                <td><a href=<%= "/personalpage/modifPassword?token=" + (user ? user.token : "") + (lang ? '&lang='+lang : '') %> class="info"><img src="/assets/images/password.png"  alt="" width="80" height="80"></a> </td>
    
            </tr>
        </table>
    
        <br>
    </div>
    
    <center><table border="1" width="70%" style="background-color: rgba(240,243,250,0.4);" align="center">
        <p style=" color: red; font-style: italic; font-size: small; font-family: consolas;"><%= translate('personalPage').photo.caution %></p>
        <tbody><tr id="titrerubrique" style="color:white;background-color: black;">
            <td colspan="5">
                <%= translate('personalPage').photo.edit %>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      
        <tr>
            <td width="100px"  rowspan="9" align="center">
                
                    <img  alt="<%- etudiant.dataValues.photo_profil %>" src="/assets/images/avatar/<%- etudiant.dataValues.photo_profil %>" height="160" width="160" title="<%- etudiant.dataValues.photo_profil %>"><br> <%= translate('personalPage').photo.ancien %>
            </td>
            <td width="200px" class="textstyle"></td>
    
            <td width="200px" class="textstyle">
                <div class="input-text">
                    <form action="/personalpage/modifPhoto?token=<%- (user ? user.token : '') %>" method="post" name="chargePicture" enctype="multipart/form-data">
                        <div class="input-div">
                            <label for="image"><%= translate('personalPage').photo.profil %></label>
                            <input type="file" id="image" name="image">
                        </div>
                        
                            <input type="text" id="help" name="test" hidden>
                        
                        <br>
                        <div class="buttons" style="padding-bottom: 4px;">
                            <button type="submit"  class="submit_button"><%= translate('personalPage').photo.charger %></button>
                        </div>
                    </form>
                
                </div>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        
    </tbody></table></center>
         
    <div id="rs-partner" class="rs-partner pt-50 pb-70">
        
    </div>
<% } %>

<script language="javaScript">
    let profil = document.getElementById("image")
    let image = document.getElementById("help")
    function charge(){
        if(document.forms['chargePicture']['image'].files[0]){
            image.value = document.forms['chargePicture']['image'].files[0].name
        } 
    }
    var game = setInterval(charge, 100)

</script>
